html {
	height: 100%;
}

body {
	background-image: url("../images/back1.png");
	background-size: cover;
}

h1, p {
	color: black;
	font-family: 'Inknut Antiqua', serif;
}

p {
	font-size: 20px;
}

h1 {
	font-size: 35px;
}

.crystal {
	width: 150px;
	height: 150px;
}

.crystals {
	height: 153px;
}

.gameManager, .title, .crystalBox, .tutorial {
	margin-bottom: 25px;
	padding: 25px;
	position: relative;

}

.title {
	margin-top: 25px;
}

.space {
	margin-bottom: 15px;
}

#scrollBack {
	position: absolute;
	height: 100px;
	width: 80%;
	left: 11%;
	top: 0;
}

#chestBack {
	position: absolute;
	height: 200px;
	width: 80%;
	left: 11%;
	top: 0;
}

button {
	margin-top: 46px;
	font-family: 'Inknut Antiqua', serif;
	background: none;
	border: none;
	font-size: 40px;
}

@media screen and (max-width: 992px){
	.crystal {
		width: 100px;
		height: 100px;
		margin-top: 25px;
	}

	.crystalBox {
		height: 200px;
	}
}

.marg {
	margin-top: -20px;
}

