html {
	height: 100%;
}

body {
	background-image: url("../images/back1.png");
	background-size: cover;
	background-repeat: no-repeat;
}

h1, p {
	color: black;
	font-family: 'Inknut Antiqua', serif;
}

p {
	font-size: 20px;
}

h1 {
	font-size: 35px;
}

.crystal {
	width: 150px;
	height: 150px;
}

.crystals {
	height: 153px;
}

.gameManager, .title, .crystalBox, .tutorial {
	margin-bottom: 25px;
	padding: 25px;
	position: relative;

}

.title {
	margin-top: 25px;
}

.space {
	margin-bottom: 15px;
}

#scrollBack {
	position: absolute;
	height: 100px;
	width: 80%;
	left: 11%;
	top: 0;
}

.chestBack {
	position: absolute;
	height: 200px;
	width: 80%;
	left: 11%;
	top: 0;
}

button {
	margin-top: 46px;
	font-family: 'Inknut Antiqua', serif;
	background: none;
	border: none;
	font-size: 40px;
}

.marg {
	margin-top: -20px;
}

.gameText {
	width: 70%;
	margin: auto;
}

@media screen and (max-width: 992px){
	.crystal {
		width: 100px;
		height: 100px;
		margin-top: 25px;
	}

	.crystalBox {
		height: 200px;
	}

}

@media screen and (max-width: 600px){
	h1 {
		font-size: 26px;
	}
	.crystal {
		width: 18%;
		height: auto;
		margin-top: 25px;
	}

	p {
		font-size: 16px;
	    padding: 0 25px;
	}

	.gameManager, .title, .crystalBox, .tutorial {
		margin-bottom: 10%;
	}

	.chestBack {
		height: 150px;
	}

	.crystalBox {
		height: 150px;
	}

	.gameText {
		font-size: 15px;
		padding: 0;
	}

	.tutorial > .chestBack {
		height: 250px;
	}
}

